POSTGRES_DB=kairos
POSTGRES_USER=kairos
POSTGRES_PASSWORD=change-me-to-a-long-random-password

JWT_ISSUER=Kairos
JWT_AUDIENCE=KairosClients
JWT_SIGNING_KEY=change-me-to-at-least-32-random-characters-but-use-more

CORS_ORIGIN_0=http://localhost:3000
CORS_ORIGIN_1=http://localhost:5173
